html,
body,
.view {
    height: 100%;
}

#about {
    background-color: #FFFFFF;
}

#services {
    background-color: #654B31;
    color: #FFFFFF;
}

#horses {
    background-color: #FFFFFF;
}

#contact {
    background-color: #DBD0BD;
}

.view.overlay {
    height: 200px;
}

.card-body {
    min-height: 350px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

html,
body,
header,
#intro {
    background-color: #666666;
    height: 100%;
}

#intro {
    background: url("/img/photos/hero.PNG")no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background-color: #0A2647;
}


/* Adding color to the Navbar on mobile */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #0A2647;
    }
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    background-color: #0A2647;
}